.split-editor {
  width: 100%;
  height: calc(100% - 8px);
  margin: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.split-editor .left-panel {
  height: 100%;
  max-width: 50%;
  min-width: 50%;
}

.split-editor #editor {
  height: 100%;
  background: #454545;
  color: #eeeeee;
  padding: 6px;
  max-width: 100%;
  /* line-break: anywhere; */
  overflow-y: scroll;
}

.split-editor .right-panel {
  height: 100%;
  max-width: calc(50% - 5px);
  min-width: calc(50% - 5px);
  padding: 6px;
  white-space: pre-line;
  background: #565656;
  margin-left: 5px;
  overflow: scroll;
}

.split-editor .right-panel b {
  color: dodgerblue;
}

.split-editor .right-panel .notestring {
  font-weight: 600;
  color: dodgerblue;
  padding: 3px;
  border: 1px solid white;
  border-radius: 2px;
  background: rgb(211, 206, 206);
}

.split-editor .right-panel .alias:hover {
  cursor: pointer;
  background: darkgoldenrod;
}

.split-editor .right-panel .title {
  font-size: 22px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.split-editor .right-panel .list-item::before {
  content: "•";
  color: white;
}
.split-editor .right-panel .list-item {
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 2px;
}

.split-editor .right-panel input {
  display: inline;
}
.split-editor .right-panel .checklist-item {
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 2px;
}

.split-editor .right-panel .TaskReference {
  padding: 4px;
  background: dodgerblue;
  border-radius: 4px;
}